@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500,700);
body {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* embed the app in a section of the page */
#app {
  position: relative;
  padding-bottom: 48px;
  border: 1px solid #3f51b5;
  min-height: 450px;
}
#app .MuiToolbar-root {
  min-height: 0;
}
#app h5 {
  font-size: 1rem;
}
#app .MuiDrawer-paper {
  position: absolute;
}
